@media screen and (max-width:1030px) {
    .container {
        align-items: center;
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .img_money {
        width: 80%;
    }

    .investing {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-self: flex-end;
    }



    .cryptocurrencies {
        width: 70%;
    }

    .container_cell {
        display: flex;
        flex-direction: column;
    }

    .phone {
        width: 80%;
    }

    .container_card {
        display: flex;
        flex-direction: column;
        height: 80%;
    }
}

@media screen and (max-width:900px) {
    .container {
        flex-direction: column;
    }

    .computer {
        width: 90%;
    }
}

@media screen and (max-width:500px) {
    .container_titulo {
        display: flex;
        flex-direction: column;
    }

    .button {
        flex-direction: column;
    }

    .card {
        width: 300px;
    }
}

@media screen and (max-width:350px) {
    .card {
        width: 250px;
    }

    .form {
        padding: 20px;
        width: 220px;
    }
}